<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<appSettings>
		<add key="webApiController" value="BuildMotion.HybridMobileapp.WebAPI.dll" />
		<add key="AllowInsecureHttp" value="true" />
		<add key="owin:AutomaticAppStartup" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="hybridmobileapp.ConnectionString" connectionString="Server=GORILLA-CODR\SQLEXPRESS;Database=BuildMotion.Commerce;User Id=buildmotion.dbuser;Password=password;" providerName="System.Data.SqlClient" />
		<!--<add name="hybridmobileapp.ConnectionString" connectionString="Server=VALENCIA-LAPTOP\SQLEXPRESS;Database=BuildMotion.HybridMobileApp;User Id=buildmotion.dbuser;Password=password;" providerName="System.Data.SqlClient" />-->
		<!--<add name="hybridmobileapp.ConnectionString" connectionString="Server=BUILDMOTION-LEN\SQLEXPRESS;Database=BuildHybridMobileApp;User Id=bhma.user;Password=password;" providerName="System.Data.SqlClient" />-->
		<!--<add name="emailbuilder.ConnectionString" connectionString="Server=BUILDMOTION-LEN\SQLEXPRESS;Database=BuildHybridMobileApp;User Id=bhma.user;Password=password;" providerName="System.Data.SqlClient" />-->
		<!--<add name="emailbuilder.ConnectionString" connectionString="Server=BUILDMOTION-LEN\SQLEXPRESS;Database=BuildMotion.EmailBuilder;User Id=emailUser;Password=password;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>

	<autofac defaultAssembly="">
		<components>
			<!-- DI configuration for the HybridMobileApp Service;-->
			<component type="BuildMotion.HybridMobileApp.BHMAService, BuildMotion.HybridMobileApp" service="BuildMotion.HybridMobileApp.IBHMAService, BuildMotion.HybridMobileApp">
				<properties>
					<property name="ApplicationName" value="HybridMobileApp"></property>
				</properties>
			</component>
			<component type="BuildMotion.HybridMobileApp.Business.BusinessProvider, BuildMotion.HybridMobileApp" service="BuildMotion.HybridMobileApp.Business.BusinessProviderBase, BuildMotion.HybridMobileApp">
				<properties>
					<property name="ApplicationName" value="HybridMobileApp"></property>
					<property name="ConnectionStringName" value="hybridmobileapp.ConnectionString"></property>
					<property name="BaseUri" value="http://dev.hybridmobileapp.net/"></property>
				</properties>
			</component>

			<!-- DI configuration for the Security Service;-->
			<component type="BuildMotion.Web.Security.MotionSecurityService, BuildMotion.Web.Security" service="BuildMotion.Web.Security.IMotionSecurityService, BuildMotion.Web.Security">
				<properties>
					<property name="ApplicationName" value="HybridMobileApp"></property>
				</properties>
			</component>
			<component type="BuildMotion.Web.Security.Business.BusinessProvider, BuildMotion.Web.Security" service="BuildMotion.Web.Security.Business.BusinessProviderBase, BuildMotion.Web.Security">
				<properties>
					<property name="ApplicationName" value="HybridMobileApp"></property>
					<property name="ConnectionStringName" value="hybridmobileapp.ConnectionString"></property>
					<property name="IsLoginAllowedWithoutVerification" value="false"></property>
					<property name="PasswordResetKeyExpirationInMinutes" value="10"></property>
					<property name="MaxAllowedFailedLoginAttempts" value="3"></property>
					<property name="MaxAllowedFailedPasswordResetAttempts" value="3"></property>
					<property name="GmailNetworkCredentialName" value="customerservice@buildmotion.com"> </property>
					<property name="GmailNetworkCredentialPassword" value="..buildmotion1"></property>
					<property name="Environment" value="Development"></property>
					<property name="BaseUri" value="http://dev.hybridmobileapp.net"></property>
					<!--<property name="BaseUri" value="http://release.hybridmobileapp.net"></property>-->
					<property name="ApplicationNamespace" value="BuildMotion.Web.Security" />
					<property name="ResetPasswordEmailTemplate" value="BuildMotion.Web.Security.Business.Templates.ResetPasswordEmailTemplate.cshtml" />
				</properties>
			</component>
			
			<!-- DI configuration for the EmailBuilderService; -->
			<component type="BuildMotion.Email.EmailBuilderService, BuildMotion.Email" service="BuildMotion.Email.IEmailBuilderService, BuildMotion.Email">
				<properties>
					<property name="ApplicationName" value="EmailBuilder"></property>
				</properties>
			</component>
			<component type="BuildMotion.Email.Business.BusinessProvider, BuildMotion.Email" service="BuildMotion.Email.Business.BusinessProviderBase, BuildMotion.Email">
				<properties>
					<property name="ApplicationName" value="EmailBuilder"></property>
					<property name="ConnectionStringName" value="hybridmobileapp.ConnectionString"></property>
					<property name="BaseUri" value="http://dev.hybridmobileapp.net/"></property>
					<property name="ConfirmationFromEmailAddress" value="matt@hybridmobileapp.net"></property>
				</properties>
			</component>

			<component type="BuildMotion.Services.Common.ServiceContext, BuildMotion.Services" service="BuildMotion.Services.Common.IServiceContext, BuildMotion.Services"></component>
		</components>
	</autofac>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5.2" />
		<httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" executionTimeout="600" />
	</system.web>
	<system.webServer>
		<!-- mjv: Added this section to allow for upload size configuration. 
    url: http://www.unit-conversion.info/computer.html 
    -->
		<security>
			<requestFiltering>
				<!-- 16GB 17179869184 
             12GB 12884901888 
             10GB 10737418240 
             8GB  8589934592 
             4GB  4294967296 
             2GB  2147483648 2147483647
						         2097152
        -->
				<requestLimits maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<!-- mjv: Added this section so that the font types will download properly. -->
		<staticContent>
			<remove fileExtension=".woff" />
			<!-- In case IIS already has this mime type -->
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<!-- mjv: Section for redirecting to the [build].hybridmobileapp.net subdomain. -->
		<!--<rewrite >
			-->
		<!--placeholder for the web.config transform; -->
		<!--
		</rewrite>-->
	</system.webServer>

	<system.diagnostics>
		<sources>
			<!-- switchValue: All|Critical|Error|Information|Warning|Verbose|Off -->
			<source name="HybridMobileApp" switchValue="Verbose">
				<listeners>
					<clear />
					<add name="EventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="HybridMobileApp" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="HybridMobileApp" formatter="Text Formatter" log="" machineName="." traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}     Message: {message}{newline}     Category: {category}{newline}     Priority: {priority}{newline}     EventId: {eventid}{newline}     Severity: {severity}{newline}     Title:{title}{newline}     Machine: {localMachine}{newline}     App Domain: {localAppDomain}{newline}     ProcessId: {localProcessId}{newline}     Process Name: {localProcessName}{newline}     Thread Name: {threadName}{newline}     Win32 ThreadId:{win32ThreadId}{newline}     Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Policy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
						<exceptionHandlers>
							<add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>